[submodule "ldap"]
	path = ldap
	url = ../nisp.ldap
[submodule "nistilities"]
	path = nistilities
	url = ../nisp.nistilities
[submodule "cl-irc"]
	path = cl-irc
	url = git://github.com/nixeagle/cl-irc.git
[submodule "cl-walker"]
	path = cl-walker
	url = ../cl-walker
[submodule "hu.dwim.asdf"]
	path = hu.dwim.asdf
	url = ../hu.dwim.asdf
[submodule "hu.dwim.def"]
	path = hu.dwim.def
	url = ../hu.dwim.def
[submodule "hu.dwim.common-lisp"]
	path = hu.dwim.common-lisp
	url = ../hu.dwim.common-lisp
[submodule "hu.dwim.defclass-star"]
	path = hu.dwim.defclass-star
	url = ../hu.dwim.defclass-star
[submodule "nisp.util"]
	path = nisp.util
	url = ../nisp.util
[submodule "slime"]
	path = slime
	url = git://github.com/nablaone/slime.git
[submodule "hunchentoot"]
	path = hunchentoot
	url = git://github.com/archimag/hunchentoot.git
[submodule "Eos"]
	path = Eos
	url = ../Eos
[submodule "cl-github"]
	path = cl-github
	url = ../cl-github
