[submodule "ldap"]
	path = ldap
	url = ../nisp.ldap
[submodule "nistilities"]
	path = nistilities
	url = ../nisp.nistilities
[submodule "cl-irc"]
	path = cl-irc
	url = git://github.com/nixeagle/cl-irc.git
[submodule "cl-walker"]
	path = cl-walker
	url = git://github.com/nixeagle/cl-walker.git
